:host {
  display: flex;
  flex-flow: row nowrap;
  min-width: 100%;
  flex: 1 1 auto;
  position: relative;
  box-sizing: content-box;
  width: 100%;
  overflow: hidden;
  transform: translate3d(0,0,0);
  touch-action: pan-y;
  user-select: none;
  will-change: scroll-position;
}
