super-tabs {

  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;

  &.tabs-placement-bottom {
    flex-direction: column-reverse;
    > super-tabs-toolbar {
      > ion-toolbar.toolbar {
        padding: 0;
        .tab-buttons-container {
          .indicator {
            top: 0;
            bottom: auto;
          }
          ion-segment.segment.segment-md {
            padding-top: 4px;
            ion-segment-button {
              //.badge {
              //  top: auto;
              //  bottom: 0;
              //}
            }
          }
        }

        &.scroll-tabs {
          .tab-buttons-container .indicator {
            margin-top: 0;
            margin-bottom: -2px;
          }
        }
      }
    }
  }

  > div.container {

    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    display: flex;
    z-index: 1;


    > div.inner-container {

      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      box-sizing: content-box;

    }


  }

  &:not([no-shadow]) {
    &.tabs-placement-bottom {
      > super-tabs-toolbar > ion-toolbar.toolbar::before {
        top: -2px;
        bottom: auto;
        height: 2px;
        background-position: 0 0;
        content: '';
      }
    }
    > super-tabs-toolbar {
      > ion-toolbar.toolbar {
        &::after, &::before {
          position: absolute;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
          background-repeat: repeat-x;
          width: 100%;
          left: 0;
        }
        &::after {
          content: '';
          height: 5px;
          background-position: 0 -2px;
          bottom: -5px;
        }
        contain: inherit;
        display: block;
        overflow: visible;
      }
    }
  }

}
