super-tabs {

  height: 100%;
  display: block;

  > ion-slides {
    text-align: inherit;
    font-size: inherit;
    ion-slide, ion-slide .slide-zoom, .swiper-slide {
      text-align: inherit;
      font-size: inherit;
    }
  }

}
