:host {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  transform: translate3d(0, 0, 0);
  position: relative;
  z-index: 2;
  background: var(--super-tabs-toolbar-background, var(--ion-color-base));
  overflow: visible;
}

:host(:not([no-border])) {
  &:after {
    left: 0;
    bottom: -8px;
    background-position: left 0 top 0;
    position: absolute;
    width: 100%;
    height: 8px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAIBAMAAAACWGKkAAAAFVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAASAQCkAAAAB3RSTlMFTEIzJBcOYhQUIwAAAB9JREFUCNdjEIQCBiUoYDCGAgYXKGAIhQKGNChgwAAAorMLKSCkL40AAAAASUVORK5CYII=);
    background-repeat: repeat-x;
    content: '';
    z-index: 2;
  }
}
