:host {
  /**
   * @prop --super-tabs-toolbar-background: Toolbar background color. Defaults to `--ion-color-base`.
   * @prop --st-scrollable-toolbar-padding-left: Left padding when `scrollable` is set to true. Defaults to `52px`.
   */

  flex: 0 1 auto;
  display: block;
  width: 100%;
  transform: translate3d(0, 0, 0);
  position: relative;
  z-index: 2;
  background: var(--super-tabs-toolbar-background, var(--ion-color-base));
  overflow: visible;

  .buttons-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    transform: translate3d(0, 0, 0);
    overflow: hidden;
  }
}

:host(:not([no-border])):after {
  left: 0;
  bottom: -8px;
  background-position: left 0 top 0;
  position: absolute;
  width: 100%;
  height: 8px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAIBAMAAAACWGKkAAAAFVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAASAQCkAAAAB3RSTlMFTEIzJBcOYhQUIwAAAB9JREFUCNdjEIQCBiUoYDCGAgYXKGAIhQKGNChgwAAAorMLKSCkL40AAAAASUVORK5CYII=);
  background-repeat: repeat-x;
  content: '';
  z-index: 3;
  transform: translate3d(0,0,0);
}

:host([scrollable]) .buttons-container {
  will-change: scroll-position;
}

:host([scrollable][scrollable-padding]) .buttons-container {
  padding-left: var(--st-scrollable-toolbar-padding-left, 52px);
  width: calc(100% - var(--st-scrollable-toolbar-padding-left, 52px));
}
