super-tabs-container {
  width: 100%;
  overflow: hidden;
  position: relative;

  display: flex;
  z-index: 1;


  > div {

    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;

  }

}
