@import "../variables";

:host {
  display: block;
  height: var(--st-indicator-height, $st-indicator-height);
  width: 100px;
  background: var(--st-indicator-color, $st-indicator-color);
  position: absolute;
  pointer-events: none;
  touch-action: none;
  left: 0;
  transform-origin: 0;
  transform: translate3d(var(--st-indicator-position-x, 0), 0, 0) scale3d(var(--st-indicator-scale-x, 0), 1, 1);
  transition: transform var(--st-indicator-transition-duration, 300ms) cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  box-sizing: border-box;
  order: -1;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}
