:host {
  /**
   * @prop --st-indicator-color: Indicator color. Defaults to `--ion-color-contrast`.
   */

  display: block;
  height: 2px;
  width: 100px;
  background: var(--st-indicator-color, var(--ion-color-contrast, white));
  position: absolute;
  left: 0;
  transform: translate3d(var(--st-indicator-position-x, 0), 0 ,0) scale3d(var(--st-indicator-scale-x, 0), 1, 1);
  transform-origin: 0;
  transition: transform var(--st-indicator-transition-duration) ease-in-out;
  will-change: transform;
}
