super-tabs-toolbar {

  z-index: 2;
  width: 100%;
  display: block;

  > ion-toolbar.toolbar {

    padding: 0;

    min-height: 0;

    .tab-buttons-container {
      touch-action: pan-y;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      overflow: hidden;

      .tab-buttons {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        width: 100%;

        super-tab-button {

          &:not(.selected) {
            ion-icon, span:not(.badge) {
              opacity: 0.7;
            }
          }

          text-align: center;

          flex: 1;
          width: 0;
          height: 48px;
          font-weight: 500;
          font-size: 14px;
          text-transform: uppercase;

          margin-left: 0;
          margin-right: 0;

          position: relative;
          display: block;
          overflow: hidden;

          text-overflow: ellipsis;
          white-space: nowrap;
          cursor: pointer;

          align-items: flex-end;
          align-content: flex-end;

          padding: 0 12px;

          &.title-only {
            .title {
              line-height: 48px;
            }
          }

          &.icon-only {
            ion-icon {
              line-height: 48px;
            }
          }

          &.title-and-icon {
            height: 72px;
            padding-top: 8px;
            ion-icon {
              margin-bottom: 10px;
            }
          }

          ion-icon {
            font-size: 24px;
          }

          .title {
            vertical-align: middle;
            display: block;
          }

          .badge {
            min-width: 20px;
            height: 20px;
            display: block;
            line-height: 14px;
            padding: 3px;
            border-radius: 500rem;
            position: absolute;
            top: 0;
            right: 4px;
            &:empty {
              display: none;
            }
          }

        }

      }

      .indicator {
        bottom: 0;
        position: absolute;
        z-index: 2;
        height: 2px;
        width: 100px;
        transform: scaleX(0);
        transform-origin: 0;
      }

    }

    &.scroll-tabs {
      .tab-buttons-container {
        //padding-left: 60px;

        .tab-buttons {
          position: relative;
          justify-content: flex-start;
          super-tab-button {
            min-width: 50px;
            max-width: 100%;
            width: auto;
            display: inline-table;
            overflow: visible;

          }
        }

        .indicator {
          position: relative;
          margin-top: -2px;
        }

      }
    }

  }

}
