@import "../variables";

:host {
  /**
  * @prop --super-tab-width: Width of the tab. Defaults to `100vw`.
  * @prop --super-tab-height: Height of the tab. Defaults to `100%`.
  */

  height: var(--super-tab-height, $st-height);
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1;
  flex-shrink: 0;
  flex-grow: 0;
  width: var(--super-tab-width, $st-width);
  transform: translate3d(0,0,0);
  box-sizing: border-box;
  order: -1;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}

ion-nav, ion-content {
  height: 100%;
  max-height: 100%;
  position: absolute;

  > .ion-page {
    position: absolute;
  }
}
