:host {
  /**
   * @prop --super-tab-width: Width of the tab. Defaults to `100vw`.
   */

  height: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1;
  flex-shrink: 0;
  flex-grow: 0;
  width: var(--super-tab-width, 100vw);
  transform: translate3d(0,0,0);
}

ion-nav {
  height: 100%;
  max-height: 100%;
  position: absolute;

  > .ion-page {
    position: absolute;
  }
}
