@import "../variables";

@mixin labelIcon {
  ion-label, ion-icon, ::slotted(ion-label), ::slotted(ion-icon) {
    @content
  }
}

@mixin label {
  ion-label, ::slotted(ion-label) {
    @content
  }
}

@mixin icon {
  ion-icon, ::slotted(ion-icon) {
    @content
  }
}

:host {
  /**
   * @prop --st-base-color-active: base color for active buttons. Defaults to `--ion-color-contrast`.
   * @prop --st-base-color-inactive: base color for inactive buttons. Defaults to `rgba(var(--ion-color-contrast-rgb), 0.7)`
   * @prop --st-icon-size: icon size. Defaults to `24px`.
   * @prop --st-icon-color-inactive: inactive icon color. Defaults to `var(--st-base-color-inactive)`
   * @prop --st-icon-color-active: active icon color. Defaults to `var(--st-base-color-active)`
   * @prop --st-label-line-height: label line height. Defaults to `14px`
   * @prop --st-label-height: label height. Defaults to `14px`
   * @prop --st-label-font-size: Font size of the label. Defaults to `14px`.
   * @prop --st-label-text-transform: Text transformation to apply to the label text. Defaults to `uppercase`.
   * @prop --st-label-font-weight: Font weight of the label. Defaults to `500`
   * @prop --st-label-padding-bottom: label padding bottom. Defaults to `16px`
   * @prop --st-label-color-inactive: inactive label color. Defaults to `var(--st-base-color-inactive)`
   * @prop --st-label-color-active: active label color. Defaults to `var(--st-base-color-active)`
   */

  flex: 1 0 0;
  cursor: pointer;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  height: 72px;
  padding: 0 24px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;

  @include labelIcon {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
    box-sizing: content-box !important;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
  }

  @include label {
    color: var(--st-label-color-inactive, $st-button-label-color-inactive);
    line-height: var(--st-label-line-height, $st-button-label-line-height);
    height: var(--st-label-height, $st-button-label-height);
    font-size: var(--st-label-font-size, $st-button-label-font-size);
    text-transform: var(--st-label-text-transform, $st-button-label-text-transform);
    font-weight: var(--st-label-font-weight, $st-button-label-font-weight);
    padding-bottom: var(--st-label-padding-bottom, $st-button-label-padding-bottom);
  }

  @include icon {
    color: var(--st-icon-color-inactive, $st-button-icon-color-inactive);
    fill: var(--st-icon-color-inactive, $st-button-icon-color-inactive);
    min-height: var(--st-icon-size, $st-button-icon-size);
    min-width: var(--st-icon-size, $st-button-icon-size);
    font-size: var(--st-icon-size, $st-button-icon-size);
    padding-top: 12px;
  }
}

@media(hover: hover) {
  :host(:hover) {
    background: rgba(var(--ion-color-contrast-rgb), 0.04);
  }
}


:host(.active) {
  @include labelIcon {
    transition-delay: 75ms;
  }

  @include label {
    color: var(--st-label-color-active, $st-button-label-color-active);
  }

  @include icon {
    color: var(--st-icon-color-active, $st-button-label-color-active);
    fill: var(--st-icon-color-active, $st-button-label-color-active);
  }
}

:host(.icon-only), :host(.label-only) {
  height: 48px;
  justify-content: center;
}

:host(.scrollableContainer) {
  flex-grow: 0;
  flex-basis: auto;
  min-width: 90px;
  max-width: 360px;
}

::slotted {
  flex-shrink: 1;
}

:host(.label-only) {
  @include label {
    padding-bottom: 0;
  }
}

:host(.icon-only) {
  @include icon {
    padding-top: 0;
  }
}
