:host {
  /**
   * @prop --st-label-color: Color of the label text. Defaults to `--ion-color-contrast`.
   * @prop --st-label-height: Height of the label. Defaults to `14px`.
   * @prop --st-label-font-size: Font size of the label. Defaults to `14px`.
   * @prop --st-label-text-transform: Text transformation to apply to the label text. Defaults to `uppercase`.
   * @prop --st-label-font-weight: Font weight of the label. Defaults to `500`
   * @prop --st-icon-color: Color of the icon. Defaults to `--ion-color-contrast`
   * @prop --st-icon-size: Size of the icon. Defaults to `24px`.
   */

  flex: 1 0 0;
  cursor: pointer;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  -webkit-touch-callout: none;
  box-sizing: border-box;
  transform: translate3d(0,0,0);
  opacity: 0.7;
  height: 72px;
  padding: 12px 16px 20px 16px;

  --st-icon-size: 24px;

  --st-label-line-height: 14px;
  --st-label-height: 14px;
  --st-label-font-size: 14px;
  --st-label-text-transform: uppercase;
  --st-label-font-weight: 500;
}

::slotted {
  flex-shrink: 1;
}

::slotted(ion-label) {
  color: var(--st-label-color, var(--ion-color-contrast));
  line-height: var(--st-label-line-height);
  height: var(--st-label-height);
  font-size: var(--st-label-font-size);
  text-transform: var(--st-label-text-transform);
  font-weight: var(--st-label-font-weight);
}


::slotted(ion-icon) {
  color: var(--st-icon-color, var(--ion-color-contrast));
  min-height: var(--st-icon-size);
  min-width: var(--st-icon-size);
  font-size: var(--st-icon-size);
}

:host(.active) {
  opacity: 1;
}

:host(.icon-only), :host(.label-only) {
  padding: 12px 16px;
  height: 48px;
  justify-content: center;
}

:host(.scrollableContainer) {
  flex-grow: 0;
  flex-basis: auto;
  min-width: 90px;
  max-width: 360px;
}
